/* Bot達o */

.bnt {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  background: linear-gradient(#fb0, #f2a50c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #320;
  font: 600, 1.125/1.35 "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.015em;
  max-width: max-content;
}

.bnt:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.bnt.secundario {
  background: var(--c10);
  color: var(--c02);
}

@media (max-width: 600px) {
  .bnt {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/* Bot達o */

/* Conteiner */

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Conteiner */

/* Bot達o 2 */

.link {
  display: inline-block;
  color: var(--cp01);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
}

.link:hover {
  color: var(--c00);
}

/* Bot達o 2 */

/* Titulos Internos */

.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--c11);
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
/* Titulos Internos */

