:root {
  --c12: #000;
  --c11: #111;
  --c10: #2e2e2e;
  --c09: #404040;
  --c08: #595959;
  --c07: #707070;
  --c06: #9c9c9c;
  --c05: #b3b3b3;
  --c04: #ccc;
  --c03: #dedede;
  --c02: #ededed;
  --c01: #f7f7f7;
  --c00: #fff;
  --cp05: #320;
  --cp04: #640;
  --cp03: #a67108;
  --cp02: #e4a30b;
  --cp01: #fb0;
}

.c00 {
  color: var(--c00); /* Branco */
}

.c01 {
  color: var(--c01);
}

.c02 {
  color: var(--c02);
}

.c03 {
  color: var(--c03);
}

.c04 {
  color: var(--c04);
}

.c05 {
  color: var(--c05);
}

.c06 {
  color: var(--c06);
}

.c07 {
  color: var(--c07);
}

.c08 {
  color: var(--c08);
}

.c09 {
  color: var(--c09);
}

.c10 {
  color: var(--c10);
}

.c11 {
  color: var(--c11);
}

.c12 {
  color: var(--c12); /* Preto */
}

.cp01 {
  color: var(--cp01);
}

.cp02 {
  color: var(--cp02);
}

.cp03 {
  color: var(--cp03);
}

.cp04 {
  color: var(--cp04);
}

.cp05 {
  color: var(--cp05);
}